* {
    margin: 0;
}
body {
    font-family: Manrope;
}

#game {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
}

#defaultCanvas0 {
    border: 3px solid black;
}